html {
    background-color: snow;
    color: darkslategray;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 10px;
    font-family: sans-serif;
    line-height: 1.6;
}

h1 {
    font-family: serif;
    display: inline;
}

a {
    color: black;
}


img {
    max-width: 100%;
}

ul li {
    list-style: none;
    line-height: 2.5;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: gainsboro;
    }

    a {
        color: white;
    }

    hr {
        border-bottom: 3px dashed gray;
    }
}
